:global #gamePageContainer .dialog.help :local(.dialog) {
  display: flex;
  flex-direction: column;
  height: fit-content !important;
  box-shadow: none !important;

  .close {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}
