.vscode/
.yarn/
@types/
contrib/
docs/
packages/action-release-info
packages/documentation/
packages/*/build/
packages/*/examples/
packages/*/source/
packages/*/*.cjs
packages/*/*.js
packages/*/*.md
packages/*/*.mjs
packages/*/metablock.json
packages/*/tsconfig.*
scripts/

.*
*.config.js
*.Containerfile
*.md
crowdin.yml
Makefile
package.json-scripts.json
renovate.json
tsconfig.*
