_site/
.github/
.vscode/
.yarn/
@types/
contrib/
docs/
scripts/
source/
.dockerignore
.editorconfig
.gitattributes
.gitignore
.yarnrc.yml
biome.json
CODE_OF_CONDUCT.md
CONTRIBUTING.md
crowdin.yml
DEVELOPMENT.md
Makefile
metablock.json
package.json-scripts.json
renovate.json
tsconfig.*
vite.*
yarn.lock
