_site/
.github/
.vscode/
.venv/
@types/
docs/
node_modules/
source/
.dockerignore
.editorconfig
.gitattributes
.gitignore
biome.json
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
crowdin.yml
LICENSE
Makefile
metablock.json
package-lock.json
package.json
README.md
requirements.txt
tsconfig.json
vite.*
