.yarn/*.*
.yarn/cache/**
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

node_modules
tsconfig.tsbuildinfo

/packages/*/build/*
/packages/*/coverage/*
/packages/*/output/*
/packages/documentation/public/*
