# Zero-Install configuration from https://next.yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

tsconfig.tsbuildinfo

/packages/*/output/*

# Created by WebPack and/or plugins
/packages/userscript/node_modules
