.yarn/*.*
.yarn/cache/**
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

node_modules
tsconfig.tsbuildinfo

/packages/*/output/*

# Created by WebPack and/or plugins
/packages/userscript/bundle/*-dev.*
/packages/userscript/node_modules
