.iconButton {
  cursor: pointer;
  display: block;
  padding-right: 3px;
  line-height: 0;
  opacity: 0.8;
  transition: 0.3s;

  &:hover {
    opacity: 1;
  }

  &.inactive {
    opacity: 0.4;

    &:hover {
      opacity: 0.6;
    }
  }
}
