.iconButton {
  cursor: pointer;
  display: block;
  padding-right: 3px;
  line-height: 0;
  opacity: 0.8;
  transition: 0.3s;
}
.iconButton.inactive {
  opacity: 0.2;
}
.iconButton:hover {
  opacity: 1;
}
.iconButton.inactive:hover {
  opacity: 0.4;
}
