copyright: Oliver Salzburg
dev_addr: 0.0.0.0:8000
docs_dir: docs
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/kitten-science/
markdown_extensions:
  - abbr
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: blockdiag
          class: blockdiag
          format: !!python/name:blockdiag_fences.blockdiag.fence_img_format
        - name: seqdiag
          class: seqdiag
          format: !!python/name:blockdiag_fences.blockdiag.fence_img_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tilde
  - toc:
      permalink: true
plugins:
  - git-revision-date-localized:
      enable_creation_date: true
  - search
repo_name: kitten-science/kitten-scientists
repo_url: https://github.com/kitten-science/kitten-scientists
site_name: Kitten Scientists
theme:
  features:
    - content.code.copy
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
  icon:
    repo: fontawesome/brands/github
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      accent: amber
      primary: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      accent: indigo
      primary: amber
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

nav:
  - Home: index.md
  - Installation: installation.md
  - User Interface:
      - Overview: sections/overview.md
      - Bonfire: sections/bonfire.md
      - Village: sections/village.md
      - Science: sections/science.md
      - Workshop: sections/workshop.md
      - Resource Control: sections/resource-control.md
      - Trade: sections/trade.md
      - Religion: sections/religion.md
      - Space: sections/space.md
      - Time: sections/time.md
      - Time Control: sections/time-control.md
      - Log Filters: sections/log-filters.md
  - Development:
      - Getting Started: development.md
      - Repository Scripts: reference/Repository Scripts/index.md
