@keyframes scale {
  0% {
    scale: 0.5;
    opacity: 0;
  }
  50% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 2;
    opacity: 0;
  }
}

.active {
  text-shadow: rgba(128, 128, 128, 0.8) 0 0 15px;
  position: relative;

  &::after,
  &::before {
    display: inline-block;
    width: 1em;
    height: 100%;
    position: absolute;
    right: -1.5em;
    scale: 0;
    text-align: center;
    transform-origin: center;
  }

  &::after {
    content: attr(data-ks-active-from);
    animation: scale 8s linear infinite;
  }

  &::before {
    content: attr(data-ks-active-to);
    animation: scale 8s linear infinite;
    animation-delay: 4s;
  }
}
