name: Publish Container

on:
  workflow_call:
  workflow_dispatch:

env:
  DEV_BUILD: ${{ github.ref_name == 'main' }}
  IMAGE_NAME: ${{ github.repository }}
  KS_RELEASE_CHANNEL: fixed
  # renovate: datasource=node-version depName=node versioning=node
  NODE_VERSION: "20.17.0"
  REGISTRY: ghcr.io

jobs:
  build-and-push-image:
    if: startsWith(github.ref, 'refs/tags/v') || github.event.commits[1] != null || ( !startsWith(github.event.commits[0].message, 'chore(deps):') && !startsWith(github.event.commits[0].message, 'fix(deps):') )
    runs-on: ubuntu-22.04
    # Container needs to be able to read repo and publish packages.
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - name: Select NodeJS version
        uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        env:
          node-version: ${{ env.NODE_VERSION }}
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: yarn install --immutable

      - name: Get version
        id: version
        run: |
          export KS_VERSION=$(yarn kitten-scientists:version)
          echo "KS_VERSION=$KS_VERSION" >> $GITHUB_ENV

      - name: Build Kitten Scientists
        run: |
          yarn kitten-scientists:build

      - name: Log in to the Container registry
        uses: docker/login-action@master
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@master
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            ${{ env.KS_VERSION }}

      - name: Build and push Docker image
        uses: docker/build-push-action@master
        with:
          context: packages/kittensgame
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
