name: Publish Container

on:
  push:
    branches: ["main"]
    tags:
      - "v*"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  DEV_BUILD: ${{ github.ref_name == 'main' }}
  IMAGE_NAME: ${{ github.repository }}
  KS_RELEASE_CHANNEL: fixed
  REGISTRY: ghcr.io

jobs:
  build-and-push-image:
    runs-on: ubuntu-22.04
    # Container needs to be able to read repo and publish packages.
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - name: Select NodeJS version
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          # renovate: datasource=docker depName=node versioning=node
          node-version: "20.12.2"
      - run: yarn install --immutable

      - name: Get version
        id: version
        run: |
          export KS_VERSION=$(yarn kitten-scientists:version)
          echo "KS_VERSION=$KS_VERSION" >> $GITHUB_ENV

      - name: Build Kitten Scientists
        run: |
          yarn kitten-scientists:build
          cp packages/kitten-scientists/output/* packages/kittensgame/kitten-scientists/

      - name: Log in to the Container registry
        uses: docker/login-action@master
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@master
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            ${{ env.KS_VERSION }}

      - name: Build and push Docker image
        uses: docker/build-push-action@master
        with:
          context: packages/kittensgame
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
