name: Crowdin Action

on:
  push:
    branches: [main]
    paths:
      - source/i18n/
  schedule:
    - cron: "30 2 * * *"
  workflow_dispatch:

jobs:
  synchronize-with-crowdin:
    permissions:
      contents: read
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          # See https://github.com/crowdin/github-action/blob/master/EXAMPLES.md#run-test-workflows-on-all-commits-of-a-pr
          token: ${{ secrets.CROWDIN_GH_TOKEN }}

      - name: crowdin action
        uses: crowdin/github-action@590c05e09a29f392b203faf4d6aa8e0cd32c7835 # v2
        with:
          upload_sources: true
          upload_translations: false
          download_translations: true
          localization_branch_name: l10n_main
          commit_message: "feat(i18n): New Crowdin translations by GitHub Action"
          create_pull_request: true
          pull_request_title: "feat(i18n): New Crowdin Translations"
          pull_request_body: "New Crowdin translations by [Crowdin GH Action](https://github.com/crowdin/github-action)"
          pull_request_base_branch_name: main
          command_args: --verbose
        env:
          # A classic GitHub Personal Access Token with the 'repo' scope selected (the user should have write access to the repository).
          GITHUB_TOKEN: ${{ secrets.CROWDIN_GH_TOKEN }}

          # A numeric ID, found at https://crowdin.com/project/<projectName>/tools/api
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}

          # Visit https://crowdin.com/settings#api-key to create this token
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
