name: Documentation Deploy

on:
  workflow_call:
  workflow_dispatch:

concurrency: documentation-deploy

env:
  # renovate: datasource=node-version depName=node versioning=node
  NODE_VERSION: "22.13.1"
  # renovate: datasource=python-version depName=python versioning=python
  PYTHON_VERSION: "3.13.1"

jobs:
  deploy:
    if: github.event.commits[1] != null || ( !startsWith(github.event.commits[0].message, 'chore(deps):') && !startsWith(github.event.commits[0].message, 'fix(deps):') )
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0
      - name: Select NodeJS version
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5
        with:
          cache: pip
          cache-dependency-path: packages/documentation/requirements.txt
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Enable Corepack
        run: |
          corepack enable
          yarn config set enableGlobalCache false

      - name: Load cached dependencies
        uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4
        with:
          path: .yarn/cache
          key: ${{ runner.os }}-node${{ env.NODE_VERSION }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: yarn install

      - name: Build documentation
        run: |
          cd packages/documentation
          make public
          mv public ../../docs/main

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4.0.2
        with:
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::022327457572:role/kitten-science-us0-maintainer
          role-session-name: GitHubActions

      - name: Deploy to S3
        run: |
          aws s3 sync ./docs/ s3://kitten-science-us0/ \
            --cache-control "public, s-maxage=3600, maxage=3600"
