name: Documentation Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions/setup-python@65d7f2d534ac1bc67fcd62888c5f4f3d2cb2b236 # v4
        with:
          python-version: 3.x

      - name: Install mkdocs-material
        run: pip install mkdocs-material

      - name: Build documentation
        run: |
          cd packages/documentation
          .scripts/build.sh

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@010d0da01d0b5a38af31e9c3470dbfdabdecca3a # v4.0.1
        with:
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::022327457572:role/kitten-science-us0-maintainer
          role-session-name: GitHubActions

      - name: Deploy to S3
        run: |
          aws s3 sync ./packages/documentation/public/ s3://kitten-science-us0/ \
            --cache-control "public, s-maxage=3600, maxage=3600"
