name: Manage Labels

on:
  push:
    branches:
      - main
    paths:
      - .github/labels.yml
  workflow_dispatch:

concurrency: manage-labels

jobs:
  manage-labels:
    permissions:
      contents: read
      issues: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: oliversalzburg/action-label-manager@e8ee17d170db678551854d8436897c374e636872 # v2.0.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
