name: Manage Labels

on:
  push:
    branches:
      - main
    paths:
      - .github/labels.yml
      - packages/action-label-manager/**
  workflow_dispatch:

concurrency: manage-labels

jobs:
  manage-labels:
    permissions:
      contents: read
      issues: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: oliversalzburg/action-label-manager@a9a10781220dedf23a23b0029a05ad56f1c68163 # v1.0.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
