name: Manage Labels

on:
  push:
    branches:
      - main
    paths:
      - .github/labels.yml
  workflow_dispatch:

concurrency: manage-labels

jobs:
  manage-labels:
    permissions:
      contents: read
      issues: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: oliversalzburg/action-label-manager@7b8fb4795aa2b83653cd247683761c4319d433f9 # v2.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
