name: Publish

on:
  workflow_call:
    inputs:
      publish-url:
        description: The URL where the documentation will be available.
        required: true
        type: string
    outputs:
      publish-url:
        description: The URL where the documentation will be available.
        value: ${{ jobs.publish.outputs.publish-url }}

concurrency: documentation

env:
  # renovate: datasource=node-version depName=node versioning=node
  NODE_VERSION: "24.11.1"
  # renovate: datasource=python-version depName=python versioning=python
  PYTHON_VERSION: "3.14.0"

jobs:
  publish:
    name: Documentation
    outputs:
      publish-url: ${{ steps.details.outputs.publish-url }}
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          # Required to have accurate created/changed timestamps in the documentation.
          fetch-depth: 0
          persist-credentials: false

      - name: Select Node.js version
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          cache: pip
          cache-dependency-path: requirements.txt
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Load cached dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node{{ env.NODE_VERSION }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node${{ env.NODE_VERSION }}

      - name: Build documentation
        run: |
          make full-docs

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::022327457572:role/kitten-science-us0-maintainer
          role-session-name: GitHubActions

      - name: Deploy to S3
        run: |
          aws s3 sync ./_site/ s3://kitten-science-us0/ \
            --cache-control "public, s-maxage=3600, maxage=3600"

      - id: details
        name: Result
        run: |
          PUBLISH_URL="${{ inputs.publish-url }}"
          echo "publish-url=$PUBLISH_URL" >> "$GITHUB_OUTPUT"
          echo "Published at <$PUBLISH_URL>" >> $GITHUB_STEP_SUMMARY
