name: Publish

on:
  workflow_call:
    inputs:
      publish-url:
        description: The URL where the documentation will be available.
        required: true
        type: string
    outputs:
      publish-url:
        description: The URL where the documentation will be available.
        value: ${{ jobs.publish.outputs.publish-url }}

concurrency: documentation

env:
  # renovate: datasource=node-version depName=node versioning=node
  NODE_VERSION: "22.18.0"
  # renovate: datasource=python-version depName=python versioning=python
  PYTHON_VERSION: "3.13.6"

jobs:
  publish:
    name: Documentation
    outputs:
      publish-url: ${{ steps.details.outputs.publish-url }}
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          # Required to have accurate created/changed timestamps in the documentation.
          fetch-depth: 0
          persist-credentials: false

      - name: Select Node.js version
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          cache: pip
          cache-dependency-path: requirements.txt
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Load cached dependencies
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node{{ env.NODE_VERSION }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node${{ env.NODE_VERSION }}

      - name: Build documentation
        run: |
          make full-docs

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::022327457572:role/kitten-science-us0-maintainer
          role-session-name: GitHubActions

      - name: Deploy to S3
        run: |
          aws s3 sync ./_site/ s3://kitten-science-us0/ \
            --cache-control "public, s-maxage=3600, maxage=3600"

      - id: details
        name: Result
        run: |
          PUBLISH_URL="${{ inputs.publish-url }}"
          echo "publish-url=$PUBLISH_URL" >> "$GITHUB_OUTPUT"
          echo "Published at <$PUBLISH_URL>" >> $GITHUB_STEP_SUMMARY
