name: Publish

on:
  workflow_call:
    inputs:
      publish-url:
        description: The URL where the documentation will be available.
        required: true
        type: string
    outputs:
      publish-url:
        description: The URL where the documentation will be available.
        value: ${{ jobs.publish.outputs.publish-url }}

concurrency: documentation

env:
  # renovate: datasource=node-version depName=node versioning=node
  NODE_VERSION: "22.14.0"
  # renovate: datasource=python-version depName=python versioning=python
  PYTHON_VERSION: "3.13.3"

jobs:
  publish:
    name: Documentation
    outputs:
      publish-url: ${{ steps.details.outputs.publish-url }}
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          # Required to have accurate created/changed timestamps in the documentation.
          fetch-depth: 0
          persist-credentials: false

      - name: Select Node.js version
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5
        with:
          cache: pip
          cache-dependency-path: requirements.txt
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Enable Corepack
        run: |
          corepack enable
          yarn config set enableGlobalCache false

      - name: Load cached dependencies
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
        with:
          path: .yarn/cache
          key: ${{ runner.os }}-node${{ env.NODE_VERSION }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node${{ env.NODE_VERSION }}

      - name: Build documentation
        run: |
          make docs

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@ececac1a45f3b08a01d2dd070d28d111c5fe6722 # v4.1.0
        with:
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::022327457572:role/kitten-science-us0-maintainer
          role-session-name: GitHubActions

      - name: Deploy to S3
        if: false
        run: |
          aws s3 sync ./docs/ s3://kitten-science-us0/ \
            --cache-control "public, s-maxage=3600, maxage=3600"

      - id: details
        name: Result
        run: |
          PUBLISH_URL="${{ inputs.publish-url }}"
          echo "publish-url=$PUBLISH_URL" >> "$GITHUB_OUTPUT"
          echo "Published at <$PUBLISH_URL>" >> $GITHUB_STEP_SUMMARY
