name: Update Release Info

on:
  schedule:
    - cron: 0 4 * * *
  workflow_dispatch:

concurrency: release-info

jobs:
  release-info:
    permissions:
      contents: read
      id-token: write

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65 # v4
        with:
          cache: yarn
          node-version: 20
      - run: yarn install --immutable
      - run: yarn workspace @kitten-science/action-release-info tsc --build

      - uses: ./packages/action-release-info
        with:
          filename: release-info.json
          repo_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@010d0da01d0b5a38af31e9c3470dbfdabdecca3a # v4.0.1
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: GitHubActions

      - name: Deploy to S3
        run: |
          aws s3 cp release-info.json s3://${{ secrets.AWS_S3_BUCKET }}
