name: Publish Kitten Scientists Release

on:
  push:
    tags:
      - "v*"

env:
  DEV_BUILD: false
  KS_RELEASE_CHANNEL: stable

jobs:
  tagged-release:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      packages: write
      pull-requests: read

    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4
      - name: Select NodeJS version
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          # renovate: datasource=docker depName=node versioning=node
          node-version: "20.12.2"
      - run: yarn install --immutable
      - run: yarn build:all
      - run: yarn lint:all

      - run: yarn kitten-scientists:release

      - name: Generate GitHub release
        uses: oliversalzburg/action-automatic-semantic-releases@v0.0.4
        with:
          # Create only as draft, so we can add a description on the web UI.
          draft: true
          files: |
            packages/kitten-scientists/output/*
          prerelease: false
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          title: ${{ github.ref_name }}
