name: Publish Userscript Push

on:
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab.
  workflow_dispatch:

env:
  DEV_BUILD: true

jobs:
  pre-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      pull-requests: read

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 18
      - run: yarn install --immutable
      - run: yarn lint:all
      - run: yarn typecheck:all

      - run: yarn userscript:release

      - uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
          automatic_release_tag: next
          draft: false
          files: |
            packages/userscript/output/*
          prerelease: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          title: Development Build
