name: Publish Kitten Scientists Nightly

on:
  schedule:
    - cron: "30 2 * * *"

  # Allows you to run this workflow manually from the Actions tab.
  workflow_dispatch:

env:
  KS_RELEASE_CHANNEL: nightly
  NIGHTLY_BUILD: true

jobs:
  check_date:
    runs-on: ubuntu-22.04
    name: Check latest commit
    outputs:
      should_run: ${{ steps.should_run.outputs.should_run }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: print latest_commit
        run: echo ${{ github.sha }}

      - id: should_run
        continue-on-error: true
        name: check latest commit is less than a day
        if: ${{ github.event_name == 'schedule' }}
        run: test -z $(git rev-list  --after="24 hours"  ${{ github.sha }}) && echo "name=should_run::false" >> $GITHUB_OUTPUT

  nightly:
    needs: check_date
    if: ${{ needs.check_date.outputs.should_run != 'false' }}
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      packages: write
      pull-requests: read

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Select NodeJS version
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          # renovate: datasource=docker depName=node versioning=node
          node-version: "20.12.2"
      - run: yarn install --immutable
      - run: yarn build:all
      - run: yarn lint:all

      - name: Get version
        run: |
          export KS_VERSION=$(yarn kitten-scientists:version)
          echo "KS_VERSION=$KS_VERSION" >> $GITHUB_ENV
      - run: yarn kitten-scientists:release
      - uses: ./packages/action-automatic-releases
        with:
          automatic_release_tag: nightly
          draft: false
          files: |
            packages/kitten-scientists/output/*
          prerelease: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          title: Nightly Build v${{ env.KS_VERSION }}
