name: Publish Userscript Push

on:
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab.
  workflow_dispatch:

env:
  DEV_BUILD: true
  KS_RELEASE_CHANNEL: dev

jobs:
  pre-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      pull-requests: read

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 18
      - run: yarn install --immutable
      - run: yarn build:all
      - run: yarn lint:all

      - name: Get version
        run: |
          export KS_VERSION=$(yarn userscript:version)
          echo "KS_VERSION=$KS_VERSION" >> $GITHUB_ENV
      - run: yarn userscript:release
      - uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
          automatic_release_tag: next
          draft: false
          files: |
            packages/userscript/output/*
          prerelease: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          title: Development Build v${{ env.KS_VERSION }}
