name: Publish Kitten Scientists Push

on:
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab.
  workflow_dispatch:

env:
  DEV_BUILD: true
  KS_RELEASE_CHANNEL: dev

jobs:
  pre-release:
    runs-on: ubuntu-22.04
    permissions:
      actions: write
      contents: write
      packages: write
      pull-requests: read

    steps:
      - name: Checkout
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4
      - name: Select NodeJS version
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          # renovate: datasource=docker depName=node versioning=node
          node-version: "20.12.2"
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build everything
        run: yarn build:all
      - name: Lint
        run: yarn lint:all

      - name: Get version
        run: |
          export KS_VERSION=$(yarn kitten-scientists:version)
          echo "KS_VERSION=$KS_VERSION" >> $GITHUB_ENV

      - name: Build release
        run: yarn kitten-scientists:release

      - name: Generate GitHub release
        uses: oliversalzburg/action-automatic-semantic-releases@f8f612aa2f426482e1f64f96b840ae6a45f3d3fd # v0.0.5
        with:
          automatic_release_tag: next
          draft: false
          files: |
            packages/kitten-scientists/output/*
          prerelease: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          title: Development Build v${{ env.KS_VERSION }}

      - name: Update release information
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh workflow run release-info.yml
