name: Publish Kitten Scientists Release

on:
  push:
    tags:
      - "v*"

env:
  DEV_BUILD: false
  KS_RELEASE_CHANNEL: stable

jobs:
  tagged-release:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      packages: write
      pull-requests: read

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Select NodeJS version
        uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4
        with:
          # renovate: datasource=docker depName=node versioning=node
          node-version: "20.10.0"
      - run: yarn install --immutable
      - run: yarn build:all
      - run: yarn lint:all

      - run: yarn kitten-scientists:release

      - uses: ./packages/action-automatic-releases
        with:
          # Create only as draft, so we can add a description on the web UI.
          draft: true
          files: |
            packages/kitten-scientists/output/*
          prerelease: false
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          title: ${{ github.ref_name }}
