name: Publish Kitten Scientists Push

on:
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab.
  workflow_dispatch:

env:
  DEV_BUILD: true
  KS_RELEASE_CHANNEL: dev

jobs:
  pre-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      pull-requests: read

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65 # v4
        with:
          cache: yarn
          node-version: 20
      - run: yarn install --immutable
      - run: yarn build:all
      - run: yarn lint:all

      - name: Get version
        run: |
          export KS_VERSION=$(yarn kitten-scientists:version)
          echo "KS_VERSION=$KS_VERSION" >> $GITHUB_ENV

      - run: yarn kitten-scientists:release

      - uses: ./packages/action-automatic-releases
        with:
          automatic_release_tag: next
          draft: false
          files: |
            packages/kitten-scientists/output/*
          prerelease: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          title: Development Build v${{ env.KS_VERSION }}
