name: Pull Request

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  qa:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 # v3
        with:
          cache: yarn
          node-version: 18
      - run: yarn install --immutable

      - run: yarn build:all
      - run: yarn lint:all
      - run: yarn test:all
      - run: yarn kitten-scientists:build

      - run: yarn workspace @kitten-science/action-commit-validator tsc --build

      - uses: ./packages/action-commit-validator
        with:
          accept_breaking_changes: false
          accept_emoji: false
          accepted_scopes: |
            bonfire
            religion
            science
            space
            time
            trade
            village
            workshop

            api
            build
            container
            core
            deps
            deps-dev
            filters
            i18n
            settings
            ui
          accepted_types: |
            chore
            ci
            docs
            feat
            fix
            refactor
            test
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
