name: Publish Kitten Scientists Release

on:
  push:
    tags:
      - "v*"

env:
  DEV_BUILD: false
  KS_RELEASE_CHANNEL: stable

jobs:
  tagged-release:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      packages: write
      pull-requests: read

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - name: Select NodeJS version
        uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        env:
          # renovate: datasource=docker depName=node versioning=node
          NODE_VERSION: "20.15.0"
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: yarn install --immutable
      - run: yarn build:all
      - run: yarn lint:all

      - name: Build release
        run: yarn kitten-scientists:release

      - name: Generate SBOM
        uses: anchore/sbom-action@e8d2a6937ecead383dfe75190d104edd1f9c5751 # v0
        with:
          format: spdx-json
          output-file: sbom.spdx.json
          upload-artifact: false
          upload-release-assets: false

      - name: Attest SBOM
        uses: actions/attest-sbom@3d6693daad97553949201f0913efcba833e58d67 # v1
        with:
          subject-path: packages/kitten-scientists/output/*
          sbom-path: sbom.spdx.json

      - name: Generate GitHub release
        uses: oliversalzburg/action-automatic-semantic-releases@bc429dc1af8c036b5f8c11fef7bcb0becfd5064d # v0.0.13
        with:
          # Create only as draft, so we can add a description on the web UI.
          draft: true
          files: |
            packages/kitten-scientists/output/*
            sbom.spdx.json
          prerelease: false
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          title: ${{ github.ref_name }}
