name: Publish Kitten Scientists Push

on:
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab.
  workflow_dispatch:

env:
  DEV_BUILD: true
  KS_RELEASE_CHANNEL: dev

jobs:
  pre-release:
    runs-on: ubuntu-22.04
    permissions:
      actions: write
      attestations: write
      contents: write
      id-token: write
      packages: write
      pull-requests: read

    steps:
      - name: Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4

      - name: Select NodeJS version
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        env:
          # renovate: datasource=docker depName=node versioning=node
          NODE_VERSION: "20.14.0"
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: https://registry.npmjs.org

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install --immutable
      - name: Build everything
        run: yarn build:all
      - name: Lint
        run: yarn lint:all

      - name: Get version
        run: echo "KS_VERSION=$(yarn kitten-scientists:version)" >> $GITHUB_ENV

      - name: Build release
        run: yarn kitten-scientists:release

      - name: Generate SBOM
        uses: anchore/sbom-action@e8d2a6937ecead383dfe75190d104edd1f9c5751 # v0
        with:
          format: spdx-json
          output-file: sbom.spdx.json
          upload-artifact: false
          upload-release-assets: false

      - name: Attest SBOM
        uses: actions/attest-sbom@v1
        with:
          subject-path: packages/kitten-scientists/output/*
          sbom-path: sbom.spdx.json

      - name: Generate GitHub release
        uses: oliversalzburg/action-automatic-semantic-releases@bc429dc1af8c036b5f8c11fef7bcb0becfd5064d # v0.0.13
        with:
          automatic_release_tag: next
          draft: false
          files: |
            packages/kitten-scientists/output/*
            sbom.spdx.json
          prerelease: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          title: Development Build v${{ env.KS_VERSION }}

      - name: Update release information
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh workflow run release-info.yml
